
/*menu*/

/*header*/
/*main*/
/*footer*/

body{
    background-color: rgb(202, 200, 198);
}


/*NAV*/

#listadouno{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(123, 131, 143);
}
.musica{
    display: inline-block;
}
.games{
    display: inline-block;
}
.musica:hover{
    background-color: rgb(179, 192, 206);
}
.games:hover{
    background-color: rgb(179, 192, 206);
}
.games{
    padding: 10px 20px;
    display: inline-block;
}
.musica{
    padding: 10px 20px;
    display: inline-block;
}
.games a{
    text-decoration: none;
    color: black;
}
.musica a{
    text-decoration: none;
    color: black;
}
.musica::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/juegos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}




 /*MAIN*/
 
h1{
    background-color: cadetblue;
    color: black;
    text-align: center;
}
main,img{
    text-align: center;
    border-radius: 5px;
}
.insta a{
    text-decoration: none;
    color: rgb(31, 29, 29);
}
.github a{
    text-decoration: none;
    color: rgb(31, 29, 29);
}
#listadodos{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.insta::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/instagram\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.github:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

