
/*menu*/

/*header*/
/*main*/
/*footer*/

body{
    background-color: rgb(202, 200, 198);
}


/*NAV*/

.games,.musica{
    display: inline-block;
}
.games,.musica a{
    padding: 10px 20px;
    display: inline-block;
}
#listadouno{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(123, 131, 143);
}
.games::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/juegos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.musica::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/ondas-sonoras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: -11px;
}
 
 

 /*MAIN*/
 
h1{
    background-color: cadetblue;
    color: black;
    text-align: center;
}
main,img{
    text-align: center;
    border-radius: 5px;
}

#listadodos{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.insta::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/instagram\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.github:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

