
/*MENU*/

/*HEADER*/
/*MAIN*/
/*FOOTER*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(202, 200, 198);
}

/*NAV*/

#listadouno{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.inicio a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.games a{
    text-decoration: none;
    color: rgb(0, 0, 0);         
}
.musica a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


