
/*MENU*/

/*HEADER*/
/*MAIN*/
/*FOOTER*/

body{
    background-color: rgb(202, 200, 198);
}

/*NAV*/

#listadouno{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.inicio a{
    text-decoration: none;
    color: black;
}
.games a{
    text-decoration: none;
    color: black;
}
.musica a{
    text-decoration: none;
    color: black;
}


