*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*MENU*/

/*HEADER*/
/*MAIN*/
/*FOOTER*/



body{
    background-color: rgb(202, 200, 198);
}

/*NAV*/

#listadouno{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.inicio a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.games a{
    text-decoration: none;
    color: rgb(0, 0, 0);         
}
.musica a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


